html,body {
  height: 100%;
}
body {
  background-color: #333;
  overflow: hidden; /* Questionable: It's useful to have scratch space below you can scroll to. */
}

/* Flex grid items */

.react-grid-item {
  /* emulate bootstrap .flex-column: */
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;

  /* emulate bootstrap .d-flex: */
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;

  /* So the resize handle position looks correct: */
  padding-right: 10px;
}

.title {
  color: lightgrey;
  cursor: grab;
}
.title:active {
  cursor: grabbing;
}
.scroll {
  overflow-y: auto;
}
.details {
  font-size: 80%;
  opacity: 0.8;
}
